*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    background-color: rgb(185, 61, 179);
    height: 4rem;
    padding: 1rem 0;
    min-width: 100%;
}

#logoimage{
    height: 2.5rem;
}
header span{
    color: azure;
    font-family: cursive;
    font-size: 1.5rem;
}
#logo{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.material-symbols-outlined{
    font-size: 1.5rem;
}
input {
    padding: 4px;
    border: none;
    display: none;
}

.search-btn {
    background-color: rgb(185, 61, 179);
    color: #fff;
    border: none;
    padding: 1px 1px;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.container{
    width: 100%;
    height: 100%;
    max-width:1300px ;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menubutton{
    font-size: 0.1rem;
    background-color:rgb(185, 61, 179); 
    border: none;
}
body{
    background-color: rgb(255, 198, 207);
}
nav{
    display: none;
}
h2{
    margin-left: 1rem;
    margin-top: 1rem;
    color: rgb(31, 13, 192);
}
.product img{
    width: 100%;
}
.product{
    border: 1px grey;  
    padding: 1rem;
    border-radius: 0.5rem;
}
#productlist{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 0.5rem;
    margin-top: 2rem;
}
.mainimages{
    padding: 1rem;
    min-width: 100%;
    max-width: 1300px;
}
.star-rating{
    color: rgb(241, 171, 41);
}
.priceandbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}
.addbutton{
    padding: 0.3rem 0.5rem;
    background-color: rgb(9, 153, 9);
    border: none;
    border-radius: 0.25rem;
    color: white;
    transition: all 0.2s ease-out;
    
}
.addbutton:hover{
    background-color: rgb(143, 180, 41);
}
@media (min-width: 576px)  {
    #productlist{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 768px) {
    #menubutton{
        display: none;
    }
    nav{
        display: block;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        gap: 1.5rem;
    }
    nav a{
        color: white;
        text-decoration: none;
    }
    #productlist{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    input{
        display: block;
    }
    .newsletter input[type="email"] {
        width: calc(100% - 20px);
        margin-right: 0;
        margin-bottom: 10px;
}
}
@media (min-width: 992px) {
    #productlist{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    #productlist{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
footer {
    background-color: #f9f9f9;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
    text-align: center;
}

.footer-column h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-column p,
.footer-column ul {
    margin: 0;
    padding: 0;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #444;
}

.social-icons {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    color: #666;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #444;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}

.copyright p {
    color: #666;
    font-size: 14px;
    margin: 0;
}
.newsletter {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.newsletter h3 {
    margin-bottom: 10px;
    color: #333;
}

.newsletter p {
    margin-bottom: 20px;
    color: #666;
}

.newsletter input[type="email"] {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter button:hover {
    background-color: #555;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}